<template>
  <div id="top">
    <label>today: </label>
    <button v-html="today.today + ' ' + today.number" @click="backToday"></button>
    <button type="button" @click="lessMonth">-</button>
    <input type="text" v-model="ceMois">
    <button type="button" @click="moreMonth">+</button>
    <label v-html="ceAnnee"></label>
  </div>
</template>


<script>
import { mapState, mapMutations } from 'vuex'

export default {
  name: "barre",
  computed: {
    ...mapState([
    "today",
    "ceMois",
    "ceAnnee"
  ])
  },
  methods: {
    ...mapMutations([
      "MORE_MONTH",
      "LESS_MONTH",
      "BACK_TODAY"
    ]),
    moreMonth() {
      this.MORE_MONTH();
    },
    lessMonth() {
      this.LESS_MONTH();
    },
    backToday(){
      this.BACK_TODAY();
    }
  },
  data: () => ({

  })
}
</script>
<style scoped>
#top{
  grid-column-start: 1;
  grid-column-end: -1;

}
</style>
