<template>
  <div>
  </div>
</template>
<script>
export default {
  name: "day",
  data: () => ({

  }),
  }
</script>
<style scoped>
.ok{
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50%;
  line-height: 3.1;
}
</style>
