<template>
  <div class="cadre"><span  @click="toggle" v-text="ev.titre + ' ' + ev.heuredebut"></span>
              <transition name=fade>
                <div v-if="visible" @click="toggle">
                  <label>début: </label><span>{{ ev.heuredebut }}</span>
                  <label>fin:   </label><span>{{ ev.heurefin }}</span>
                  <p v-text="ev.text"></p>
                </div></transition></div>
</template>
<script>

export default {
  name: "event",
  props: ["ev"],
  data: () => ({
    visible: false,

  }),
  methods: {
    toggle(){
      this.visible = !this.visible;
    },
  }
}
</script>
<style scoped>
.cadre{
  border: 2px solid silver;
}
.cadre:hover{
  box-shadow: 3px 3px 3px 3px rgba(52,100,12,0.3);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
