<template>
  <div class="bas">
    <div class="listevent"><b v-text="specificday.number"></b> <span> {{ specificday.monthLettre }}</span>
      <ul>
      <li
      v-for="(ev, index) in events"
        :key="index"
        v-if="(specificday.number == ev.number) && (specificday.month == ev.month)"
        >
        <event :ev="ev"></event>
        <button @click="delevent(index)" type="button" name="button">X</button></li>
      </ul>
    </div>
    <form class="add" @submit.prevent="addevent">
        <label for="titre">titre</label><input type="text" name="titre" v-model="localevent.titre" autocomplete="off">
        <label for="quoi">descriptif</label><textarea type="text" name="quoi" v-model="localevent.text" cols="30" rows="10"></textarea>
        <label for="heure_debut">heure de début</label><input type="time" name="heure_debut" v-model="localevent.heuredebut" value="">
        <label for="heure_fin">heure de fin</label><input type="time" name="heure_fin" v-model="localevent.heurefin" value="">
        <button type="submit">Add</button>
    </form>
  </div>
</template>

<script>
import event from "./event.vue";
import {  mapMutations, mapGetters } from 'vuex';

export default {
  name: "lebas",
  components: {
    event
  },
  data: () => ({
    localevent: {
      heuredebut: "08:00",
      heurefin: "17:00"
    }
  }),
  computed: {
    ...mapGetters({
        specificday: "getSpecificDay",
        events: "getEvents"
    })
  },
  methods: {
    ...mapMutations(["DEL_EVENT", "ADD_EVENT"]),
    delevent(id){
      this.DEL_EVENT(id);
    },
    addevent(){
      this.localevent.number = this.specificday.number;
      this.localevent.month = this.specificday.month;

      this.localevent.titre ? this.ADD_EVENT(this.localevent) : false;
      this.localevent = {heuredebut: '08:00', heurefin: '17:00'};

    }
  }
}
</script>
<style scoped>
b{
  font-size: 3rem
}
  ul {
    list-style-type: none;
  }
</style>
