<template>
  <div id="calendar">
    <barre></barre>
    <div class=" milieu">

      <div class="">L</div>
      <div class="">M</div>
      <div class="">M</div>
      <div class="">J</div>
      <div class="">V</div>
      <div class="">S</div>
      <div class="red">D</div>

        <div class="big" v-for="(day, index) in nombresJours"
            v-bind:key="index" @click="changeSpecificDay(day)">
          <day :class="`${isFull(day)} ${isSunday(day)} ${isSpecificDay(day)} ${yaUnEvent(day)}`"
              v-text="day.number">
          </day>
        </div>
    </div>
    <lebas></lebas>
  </div>
</template>



<script>
import barre from './barre.vue';
import day from './days.vue';
import lebas from './lebas.vue';

import { mapState, mapMutations, mapGetters } from 'vuex'

export default {
  name: 'top',
  components: {
    barre,
    day,
    lebas
  },
  computed: {
    ...mapState([
    "nombresJours",
  ]),
  ...mapGetters({
    specificday: "getSpecific",
    events: "getEvents"
  })
  },
  data() {
    return {

    }
  },
  methods: {
    isFull(d){
      return d.number >= 0 ? 'ok' : 'nonOk';
    },
    isSunday(day) {
      return day.day == 0 ? "red" : "pasred";
    },
    ...mapMutations([
      "CHANGE_SPECIFICDAY"
    ]),
    changeSpecificDay(d){
      this.CHANGE_SPECIFICDAY(d)
    },
    isSpecificDay(d){
      return ((d.number === this.specificday.number) && (d.month === this.specificday.month)) ? "selectionned" : false;
    },
    yaUnEvent(d){
      for (let i=0; i< this.events.length; i++) {
        if ((d.number == this.events[i].number) && (d.month == this.events[i].month)){
          return "blue";
        }else{
          return "";
        }
      }
    }
  },
}
</script>

<style scoped>
  .red{
    color: red;
  }
  .big{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .selectionned{
    border: 5px solid blue;
  }
  .blue{
    background-color: lightblue;
  }
</style>
