<template>
  <div id="app">
    <top></top>
  </div>
</template>

<script>
import top from './components/main.vue'
export default {
  name: 'app',
  components: {
    top,
  }
}

</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#calendar{
  height: 50%;
  display: grid;
  grid-template-areas: "haut"
                      "milieu"
                      "bas";
  grid-gap: 25px;
}
.milieu{
  grid-area: milieu;
  display: grid;
  grid-template-columns: repeat(7, 3fr);
}
.bas{
  grid-area: bas;
}
</style>
